<a href="https://colab.research.google.com/github/CastanharoA/Data-Science---Boot---MJV/blob/main/1_Introdu%C3%A7%C3%A3o_ao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Python

Autor: Natanael Moura Junior (natanael.junior@mjv.com.br)

<img align="center" width="200" src="https://raw.githubusercontent.com/natmourajr/data/main/mjv-tecnologia.png?raw=1">

# Objetivos
1 - Iniciar os usuários em python <br>
2 - Mostrar exemplos <br>
3 - Ser referência para futuras dúvidas<br>

# Comando ```help```

Python tem sido uma das linguagens de programação mais utilizadas em todo o mundo, por isso, a sua documentação tem sido farta na internet, bem como o seu suporte de desenvolvedores. Ainda assim, um dos comandos mais úteis durante o desenvolvimento é o help

```python
help(func)
```

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

O que é uma *built-in function*?<br>
O interpretador do Python possui várias funções e tipos incorporados que sempre estão disponíveis. A seguir listamos todas as funções em ordem alfabética.

|               |             | Built-in Functions |              |                |
|---------------|-------------|:------------------:|--------------|----------------|
| abs()         | delattr()   | hash()             | memoryview() | set()          |
| all()         | dict()      | help()             | min()        | setattr()      |
| any()         | dir()       | hex()              | next()       | slice()        |
| ascii()       | divmod()    | id()               | object()     | sorted()       |
| bin()         | enumerate() | input()            | oct()        | staticmethod() |
| bool()        | eval()      | int()              | open()       | str()          |
| breakpoint()  | exec()      | isinstance()       | ord()        | sum()          |
| bytearray()   | filter()    | issubclass()       | pow()        | super()        |
| bytes()       | float()     | iter()             | print()      | tuple()        |
| callable()    | format()    | len()              | property()   | type()         |
| chr()         | frozenset() | list()             | range()      | vars()         |
| classmethod() | getattr()   | locals()           | repr()       | zip()          |
| compile()     | globals()   | map()              | reversed()   | \__import__()   |
| complex()     | hasattr()   | max()              | round()      |                |

Uma outra maneira de se visualizar os comandados e a sua documentação é com o caracter ```?```

```python
func?
```

In [ ]:
print?

Caso você queira acessar diretamente o código-fonte de uma determinada função, basta que você adicione ao lado da mesma duas vezes o caracter ```??```

 ```python
 func??
 ```

In [ ]:
def add(a,b):
  return a+b
add??

In [ ]:
import math
math.cos??

O comando ```import math``` importa a biblioteca de matemática do python

O comando ```math.cos??``` abre a documentação da função cos da biblioteca math do python

# Comando ```print```

Outro dos comandandos mais utilizados em Python é o comandando ```print```

```python
print(string_a_ser_impressa_na_tela)
```

In [ ]:
print(10.0)

10.0

In [ ]:
print('10.0')

10.0

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if False:
  print('estou dentro do if')
  print('continuo dentro do if')
print('estou fora do if')

estou fora do if

**Escopo**: Região do código de programação sobre influência de uma determinada entidade (controle de fluxo, função, ou outros)

In [ ]:
condicional = True
if condicional:
  print('Condição verdadeira')

Condição verdadeira

NameError: ignored

Perceba que python é uma linguagem de programação que leva em consideração a identação do código. Ou seja, caso fizéssemos:

```python
if (5>2):
print("Five is greater than two!")
```
Encontrariamos um erro na execução do código devido a falta de identação depois do ```if```

In [ ]:
x = 5
y = "Hello, World!"

print(x,y)

5 Hello, World!

In [ ]:
#This is a comment.
print("This is a comment.")

This is a comment.

**Comentário**: é um conjunto de informações que não é interpretado pelo interpretador nem pelo compilador.

In [ ]:
# Falar com os alunos sobre algumas informações importantes!
print("Depois do comentário")

Depois do comentário

In [ ]:
"""
This is a comment
written in 
more than just one line
"""
print("This is a comment.")

This is a comment.

#Histórico de mensagens de entrada e saída

Por ser uma linguagem interpretada, assim como o MatLab, o Python tem um histórico de saídas armazenadas. Assim sendo, vamos a alguns exemplos:

**Carga da biblioteca** ```math```<br>
Este biblioteca tem algumas das funções de matemática trigonométrica já implementada

In [ ]:
import math

In [ ]:
math.sin(2) # seno de 2

0.9092974268256817

In [ ]:
math.cos(2) # cosseno de 2

-0.4161468365471424

In [ ]:
print(In)

['', 'help(print)', "get_ipython().magic('pinfo print')", "def add(a,b):\n  return a+b\nget_ipython().magic('pinfo2 add')", 'print(10.0)', "print('10.0')", 'if 5 > 2:\n  print("Five is greater than two!")', 'x = 5\ny = "Hello, World!"\n\nprint(x,y)', '#This is a comment.\nprint("This is a comment.")', '"""\nThis is a comment\nwritten in \nmore than just one line\n"""\nprint("This is a comment.")', 'import math', 'math.sin(2) # seno de 2', 'math.cos(2) # cosseno de 2', 'print(In)']

Podemos ver aqui que as entradas que foram processadas pelo interpretador do Python estão impressas por este comando (```print(In)```). Perceba que a ordem de cada uma das entradas é a mesma com as quais estas foram introduzidas para interpretação.

In [ ]:
print(Out)

{11: 0.9092974268256817, 12: -0.4161468365471424}

Repare que da mesma maneira que o comando anterior, o comando ```print(Out)``` também imprime as saídas de cada um dos comandos que foram adicionados para processamento.

Vamos a uma outra forma de acessar o histórico de saida em Python. <br>
Existe uma variável de execução (escondida durante a execução) que pode ser acessada facilmente dentro do código, a variável se chama ```_```

In [ ]:
print(_) # mostra a

-0.4161468365471424

# Variáveis em Python

Variáveis são contêineres para armazenar valores de dados. <br>

Ao contrário de outras linguagens de programação, o Python não possui comando para declarar uma variável.

Uma variável é criada no momento em que você atribui um valor a ela.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4 # x is of type int
print(x, type(x))
x = "Sally" # x is now of type str
print(x, type(x))

4 <class 'int'>
Sally <class 'str'>

In [ ]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

# Boas práticas em python

Uma variável pode ter um nome abreviado (como x  e y) ou um nome mais descritivo (age, carname, total_volume). Regras para variáveis do Python:<br>
 1 - Um nome de variável deve começar com uma letra ou o caractere de sublinhado<br>
 2 - O nome de variável não deve começar com um número<br>
 3 - Um nome de variável só deve conter caracteres alfanuméricos e sublinhados (A-z, 0-9 e _)<br>
 4 - Os nomes das variáveis fazem distinção entre maiúsculas e minúsculas (Idade, idade e IDADE são três variáveis diferentes)<br>

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
idade, sexo, altura = 33,'MASCULINO', 1.93
print(idade, type(idade))
print(sexo, type(sexo))
print(altura, type(altura))

33 <class 'int'>
MASCULINO <class 'str'>
1.93 <class 'float'>

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = 2
variavel = 'Minha variável é '
print(variavel, type(variavel))
print(variavel + x)

Minha variável é  <class 'str'>

TypeError: ignored

Obs: não podemos misturar tipos de variáveis diferentes em uma mesma posição de memória (mesma variável)

In [ ]:
variavel_str = "A minha variável é"
variavel_int = 2
variavel_mistura = variavel_str + variavel_int

TypeError: ignored

In [ ]:
x = "awesome"
y = 10
z = 100.2313131
print("Python is %s, %i, %1.5f"%(x,y,z))

Python is awesome, 10, 100.23131

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 8
y = 5
print('%i'%(y/x))

0

In [ ]:
x = 8
y = 5
print('%f'%(y/x))

0.625000

# Tipos Numéricos em Python
Existem três tipos numéricos no Python:

int <br>
float <br>
complexo <br> <br>
Variáveis de tipos numéricos são criadas quando você atribui um valor a elas!

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float também pode ser um número científico com um "e" para indicar a potência de 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Números complexos são escritos com um "j" como a parte imaginária:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Você pode converter de um tipo para outro com os métodos ```int()```, ```float()``` e ```complex()```:

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
a = 10
print('a'+str(a))

a10

O Python não possui uma função ```random()``` para fazer um número aleatório, mas possui um módulo interno chamado random que pode ser usado para fazer números aleatórios:

In [ ]:
import random

print(random.randrange(0,2,1))

0

In [ ]:
help(random.randrange)

Help on method randrange in module random:

randrange(start, stop=None, step=1, _int=<class 'int'>) method of random.Random instance
    Choose a random item from range(start, stop[, step]).

    This fixes the problem with randint() which includes the
    endpoint; in Python this is usually not what you want.

Pode haver momentos em que você deseja especificar um tipo em uma variável. Isso pode ser feito com um conjuntos de funções de type casting (mudança de tipos). O Python é uma linguagem orientada a objetos e, como tal, usa classes para definir tipos de dados, incluindo seus tipos primitivos. <br>

Casting em python é feito usando funções de construtor: <br>

```int()``` - constrói um número inteiro a partir de um literal inteiro, um literal float (arredondando para baixo para o número inteiro anterior), ou uma string (fornecendo a string representa um número inteiro) <br>
```float()``` - constrói um número float a partir de um literal inteiro, um literal float ou um literal string (desde que a string represente um float ou um inteiro)<br>
```str()``` - constrói uma string a partir de uma ampla variedade de tipos de dados, incluindo strings, literais de inteiros e literais de float

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
a = '10+1j'
print(complex(a))

(10+1j)

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

print(type(x))
print(type(y))
print(type(z))
print(type(w))

1.0
2.8
3.0
4.2
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>

# Strings em Python

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = # comentario

SyntaxError: ignored

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings são Arrays
Como muitas outras linguagens de programação populares, as strings no Python são vectores de bytes representando caracteres de forma ordenada.

No entanto, o Python não tem um tipo de dados de caractere, um único caractere é simplesmente uma string com um comprimento de 1. Os colchetes podem ser usados para acessar elementos da string.

In [ ]:
a = "Hello, World!"
print(a[0],a[-1])
print(a[1:6])

H !
ello,

In [ ]:
print(a)
print(a[1:3]) # pegar a variável do 1 ao 3 pulando de 1 em 1

Hello, World!
el

In [ ]:
print(a)
print(a[1:10:2]) # pegar a variável do 1 ao 10 pulando de 2 em 2

Hello, World!
el,Wr

In [ ]:
print(a)
print(a[-1:10:2]) # pegar a variável do -1 ao 10 pulando de 2 em 2
# Esperado um erro -> não apresenta nada!

Hello, World!

In [ ]:
print(a)
print(a[10:1:-1]) # pegar a variável do 10 ao 1 pulando de -1 em -1

Hello, World!
lroW ,oll

In [ ]:
print(a)
print(a[::-1]) # Inversão completa da variável

Hello, World!
!dlroW ,olleH

In [ ]:
print(a)
print(a[::2]) # toda a variável pulando de 2 em 2

Hello, World!
Hlo ol!

**Indexação em python**: Características importantes sobre a indexação:


1.   Sempre começa do 0
2.   Sempre com loop circular
3.   Pode conter diferentes intervalos

O método ```strip()``` remove qualquer espaço em branco do começo ou do fim da string:

In [ ]:
a = "     Hello, World!    "
print(a.strip()) # returns "Hello, World!"

Hello, World!

O método ```len()```  retorna o tamanho de uma string:

In [ ]:
a = "Hello, World!"
print(len(a))

13

O método ```lower()``` retorna a string em letras minúsculas:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

O método ```upper()``` retorna a string em letras maiúsculas:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

O método ```capilatize()``` retorna a string com apenas a primeira letra maiúscula:

In [ ]:
a = "Hello, World!"
print(a.capitalize())

Hello, world!

O método ```replace()``` substitui uma string por outra string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))
print(a.replace("Hello", "Bye"))

Jello, World!
Bye, World!

O método ```split()``` divide a string em substrings se encontrar instâncias do separador:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
string = "O python é muito fácil! :)"
print(string.split(' '))
print(string.split(' ')[4])

['O', 'python', 'é', 'muito', 'fácil!', ':)']
fácil!

In [ ]:
string = '12345678'
print(string.split('4'))

['123', '5678']

Use o método ```format()``` para inserir números em strings:

In [ ]:
age = 32
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 32

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Ao contrário de uma string ```C```, as strings Python não podem ser alteradas. Atribuir a uma posição indexada na string resulta em um erro:

In [ ]:
word = 'Help'+' ' + 'me'
print('word[0]: '+word[0])
#word[0] = 'x' # tem que dar erro

word[0]: H

## Formatação de Strings

A formatação de string também é conhecida como interpolação de string. É o processo de inserir uma string ou variável personalizada em um texto predefinido.

In [ ]:
custom_string = "String formatting"
print(f"{custom_string} is a powerful technique")

String formatting is a powerful technique

### Métodos de formatação

Colocando marcadores de posição definidos por um par de chaves em um texto é chamado de formatação posicional. Chamamos o método de formato de ponto de string. Em seguida, passamos o valor desejado para o método. O método substitui os marcadores de posição usando os valores na ordem de aparência substituídos por valor:

In [ ]:
value = 10
print('text {}'.format(value))

text 10

In [ ]:
value = 'valor'
print('text {}'.format(value))

text valor

Definimos uma string e inserimos dois marcadores de posição. Passamos duas strings para o método, que serão passadas para obter a seguinte saída:

In [ ]:
print("Machine learning provides {} the ability to learn {}".format("systems", "automatically"))

Machine learning provides systems the ability to learn automatically

Podemos usar variáveis ​​tanto para a string quanto para os valores passados ​​para o método. No código de exemplo a seguir, definimos uma string com marcadores de posição e duas outras variáveis. Aplicamos o método de formatação à string usando as duas variáveis ​​definidas. O método lê a string e substitui os marcadores de posição pelos valores fornecidos.

In [ ]:
my_string = "{} rely on {} datasets"
method = "Supervised algorithms"
condition = "labeled"

No exemplo a seguir, você adiciona números de índice aos marcadores de posição para reordenar os valores. Isso afeta a ordem em que o método substitui os marcadores de posição.

O método os substitui pelos valores na ordem fornecida.

In [ ]:
print("{} has a friend called {} and a sister called {}". format("Betty", "Linda", "Daisy"))

Betty has a friend called Linda and a sister called Daisy

In [ ]:
print("{2} has a friend called {0} and a sister called {1}". format("Betty", "Linda", "Daisy"))

Daisy has a friend called Betty and a sister called Linda

Também podemos introduzir argumentos de palavra-chave que são chamados por seus nomes de palavra-chave.

No código de exemplo abaixo, inserimos palavras-chave nos espaços reservados. Então, chamamos essas palavras-chave no método de formato. Em seguida, atribuímos qual variável será passada para cada um deles, resultando na seguinte saída.

In [ ]:
tool="Unsupervised algorithms"
goal="patterns"
print("{title} try to find {aim} in the dataset".format(title=tool, aim=goal))

Unsupervised algorithms try to find patterns in the dataset

In [ ]:
my_methods = {"tool": "Unsupervised algorithms", "goal": "patterns"}
print('{data[tool]} try to find {data[goal]} in the dataset'.format(data=my_methods))

Unsupervised algorithms try to find patterns in the dataset

Também podemos especificar o formato especificado entre colchetes. Isso define como os valores individuais são apresentados. Aqui, usaremos o especificador de dois pontos do índice de sintaxe. Um dos especificadores de formato mais comuns é float representado por f. No código, especificamos que o valor passado com o índice 0 será um float.

In [ ]:
print("Only {0:f}% of the {1} produced worldwide is {2}!". format(0.5155675, "data", "analyzed"))

Também poderíamos adicionar ```.2f``` indicando que queremos que o float tenha duas casas decimais, como visto na saída resultante.

In [ ]:
from datetime import datetime
print(datetime.now())

2021-09-08 22:35:30.381638

Mas como o formato retornado é muito particular, você pode usar o especificador de formato como ```%y-%m-%d-%h-%m``` para ajustar o formato para algo mais familiar para nós!

In [ ]:
print("Today's date is {:%Y-%m-%d %H:%M}".format(datetime.now()))

Today's date is 2021-09-08 22:35

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

| Placeholders | Formatting type                                                                                         |
|--------------|---------------------------------------------------------------------------------------------------------|
| :<           | Left aligns the result (within the available space)                                                     |
| :>           | Right aligns the result (within the available space)                                                    |
| :^           | Center aligns the result (within the available space)                                                   |
| :=           | Places the sign to the left most position                                                               |
| :+           | Use a plus sign to indicate if the result is positive or negative                                       |
| :-           | Use a minus sign for negative values only                                                               |
| :            | Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers) |
| :,           | Use a comma as a thousand separator                                                                     |
| :_           | Use a underscore as a thousand separator                                                                |
| :b           | Binary format                                                                                           |
| :c           | Converts the value into the corresponding unicode character                                             |
| :d           | Decimal format                                                                                          |
| :e           | Scientific format, with a lower case e                                                                  |
| :E           | Scientific format, with an upper case E                                                                 |
| :f           | Fix point number format                                                                                 |
| :F           | Fix point number format, in uppercase format (show inf and nan as INF and NAN)                          |
| :g           | General format                                                                                          |
| :G           | General format (using a upper case E for scientific notations)                                          |
| :o           | Octal format                                                                                            |
| :x           | Hex format, lower case                                                                                  |
| :X           | Hex format, upper case                                                                                  |
| :n           | Number format                                                                                           |
| :%           | Percentage format                                                                                       |

# Operadores Python
Os operadores são usados para executar operações em variáveis e valores.

O Python divide os operadores nos seguintes grupos:

1 - Operadores aritméticos <br>
2 - Operadores de atribuição <br>
3 - Operadores de comparação <br>
4 - Operadores lógicos <br>
5 - Operadores de identidade <br>
6 - Operadores de associação <br>
7 - Operadores bit a bit <br>

## 1 - Operadores aritméticos
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Nome</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>+</td>
    <td>Adição</td>
    <td>x+y</td>
  </tr>
  
  <tr> 
   <td>-</td>	
   <td>Subtração</td>
   <td>x-y</td>	
  </tr>
  
  <tr> 
   <td>*</td>	
   <td>Multiplicação</td>
   <td>x*y</td>	
  </tr>

  <tr> 
   <td>/</td>	
   <td>Divisão</td>
   <td>x/y</td>	
  </tr>
  

  <tr> 
   <td>%</td>	
   <td>Resto da Divisão</td>
   <td>x%y</td>	
  </tr>
  
  <tr> 
   <td>**</td>	
   <td>Potência</td>
   <td>x**y</td>	
  </tr>
  
  <tr> 
   <td>//</td>	
   <td>Divisão arrendondada para baixo</td>
   <td>x//y</td>	
  </tr>
  
      
</table>

In [ ]:
a = 4 
b = 5 
print(a//b)

0

## 2 - Operadores de atribuição
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Exemplo</th>
    <th>Mesmo que</th>
  </tr>
  
  <tr>
    <td>=</td>
    <td>x = 5</td>
    <td>x = 5</td>
  </tr>
  
  <tr>
    <td>+=</td>
    <td>x += 3</td>
    <td>x = x + 3</td>
  </tr>
  
  <tr>
    <td>-=</td>
    <td>x -= 3</td>
    <td>x = x - 3</td>
  </tr>
  
  <tr>
    <td>*=</td>
    <td>x *= 3</td>
    <td>x = x * 3</td>
  </tr>
  
  <tr>
    <td>/=</td>
    <td>x /= 3</td>
    <td>x = x / 3</td>
  </tr>
  
  <tr>
    <td>%=</td>
    <td>x %= 3</td>
    <td>x = x % 3</td>
  </tr>
  
  <tr>
    <td>//=	</td>
    <td>x //= 3</td>
    <td>x = x // 3</td>
  </tr>
  
  <tr>
    <td>**=</td>
    <td>x **= 3</td>
    <td>x = x ** 3</td>
  </tr>
  
  <tr>
    <td>&=</td>
    <td>x &= 3</td>
    <td>x = x & 3</td>
  </tr>
  
  <tr>
    <td>|=</td>
    <td>x |= 3</td>
    <td>x = x | 3</td>
  </tr>
  
  <tr>
    <td>^=</td>
    <td>x ^= 3</td>
    <td>x = x ^ 3</td>
  </tr>
  
  <tr>
    <td>>>=</td>
    <td>x >>= 3</td>
    <td>x = x >> 3</td>
  </tr>
  
  <tr>
    <td><<=</td>
    <td>x <<= 3</td>
    <td>x = x << 3</td>
  </tr>
      
</table>

In [ ]:
x = 2
x //=3
print(x)

0

## 3 - Operadores de comparação
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Nome</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>==</td>
    <td>Igualdade</td>
    <td>x == y</td>
  </tr>
  
  <tr>
    <td>!=</td>
    <td>Desigualdade</td>
    <td>x != y</td>
  </tr>
  
  <tr>
    <td>></td>
    <td>Maior que</td>
    <td>x > y</td>
  </tr>
  
  <tr>
    <td><</td>
    <td>Menor que</td>
    <td>x < y</td>
  </tr>
  
  <tr>
    <td>>=</td>
    <td>Maior ou igual que</td>
    <td>x >= y</td>
  </tr>
  
  <tr>
    <td><=</td>
    <td>Menor ou igual que</td>
    <td>x <= y</td>
  </tr>
      
</table>

In [ ]:
x = 2
y = 2
if x == y: # condição for verdadeira (True)
  # é igual a x != y
  print("Entrei no if")
print("Sai do if")

Entrei no if
Sai do if

In [ ]:
x = 2
y = 2
if x != y: # condição for verdadeira (True)
  # é igual a x != y
  print("Entrei no if")
print("Sai do if")

In [ ]:
x = 2
y = 2
if not (x == y): # condição for verdadeira (True)
  # é igual a x != y
  print("Entrei no if")
print("Sai do if")

Sai do if

## 4 - Operadores lógicos
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Descrição</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>and</td>
    <td>Retorna True se ambos são verdadeiros</td>
    <td>x < 5 and  x < 10 </td>
  </tr>
  
  <tr>
    <td>or</td>
    <td>Retorna True se um for verdadeiro</td>
    <td>x < 5 or  x < 10 </td>
  </tr>
  <tr>
    <td>not</td>
    <td>Inverte o resultado</td>
    <td> not(x < 5) </td>
  </tr>
        
</table>

In [ ]:
# Missão: Levantar a tabela verdade de um lógico qualquer
# O operador lógico vai ser definido dentro da funcção abaixo!

# printar o título das colunas
print('A\t - B \t\t - AND(A,B)')

def funcao_da_tabela(A,B):
  return (A and B)

# Primeira linha
A = False
B = False
print("{:}\t - {:} \t - {:}". format(A, B, funcao_da_tabela(A,B)))

# Segunda  linha
A = False
B = True
print("{:}\t - {:} \t - {:}". format(A, B, funcao_da_tabela(A,B)))

# Terceira  linha
A = True
B = False
print("{:}\t - {:} \t - {:}". format(A, B, funcao_da_tabela(A,B)))

# Quarta  linha
A = True
B = True
print("{:}\t - {:} \t - {:}". format(A, B, funcao_da_tabela(A,B)))

A	 - B 		 - AAND(A,B)
False	 - False 	 - False
False	 - True 	 - False
True	 - False 	 - False
True	 - True 	 - True

In [ ]:
# Missão: Levantar a tabela verdade de um lógico qualquer
# O operador lógico vai ser definido dentro da funcção abaixo!

# printar o título das colunas
print('A\t - B \t\t - AND(A,B)')

def funcao_da_tabela(A,B):
  return (A and B)

# Primeira linha
A = 0 # coloquei um inteiro!!!
B = False
print("{:}\t - {:} \t - {:}". format(A, B, funcao_da_tabela(A,B)))

A	 - B 		 - AND(A,B)
0	 - False 	 - 0

## 5 - Operadores de identidade
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Descrição</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>is</td>
    <td>Retorna True se as variáveis são o mesmo objeto</td>
    <td>x is y</td>
  </tr>
  
  <tr>
    <td>is not</td>
    <td>Retorna True se as variáveis não são o mesmo objeto</td>
    <td>x is not y </td>
  </tr>
        
</table>

In [ ]:
A = [1,2,3]
B = A
if A is B:
  print("A é B")
# Mesma posição de memória

In [ ]:
A = [1,2,3]
B = A
if A is B:
  print("A é B")
# Mesma posição de memória
print(A)
print(B)
A = [1,2,3,4]
print(A)
print(B)
if A is B:
  print("A é B")
# mudança de valores em posição de memória

A é B
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
A = [1,2,3]
B = [1,2,3]
if A is B:
  print("A é B")
# duas posições de memória diferentes com o mesmo conteúdo

## 6 - Operadores de associação
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Descrição</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>in</td>
    <td>Retorna True se x está contido em y</td>
    <td>x in y</td>
  </tr>
  
  <tr>
    <td>not in</td>
    <td>Retorna True se x não está contido em y</td>
    <td>x not in y </td>
  </tr>
        
</table>

In [ ]:
A = [1,2,3,4]
B = 1
if B in A:
  print('B está contido em A')

B está contido em A

## 7 - Operadores bit a bit
<table border=1 frame=void rules=rows>
  <tr>
    <th>Operador</th>
    <th>Descrição</th>
    <th>Exemplo</th>
  </tr>
  
  <tr>
    <td>&</td>
    <td>And: Retorna 1 se cada um dos bits associados são 1</td>
    <td>x and y</td>
  </tr>
  
  <tr>
    <td>|</td>
    <td>Or: Retorna 1 se qualquer um dos bits associados são 1</td>
    <td>x or y </td>
  </tr>
  
  <tr>
    <td>^</td>
    <td>XOR: Retorna 1 se bits são contrarios entre si</td>
    <td>x ^ y </td>
  </tr>
       
  <tr>
    <td>~</td>
    <td>Not: já definido</td>
    <td>x ~ y </td>
  </tr>
  
  <tr>
    <td><<</td>
    <td>Shift y casas para a esquerda, adicionando <br>zeros da direita e deixe os bits mais significativos à esquerda</td>
    <td>x << y </td>
  </tr>
  
  <tr>
    <td>>></td>
    <td>Shift y casas para a direita, adicionando <br>zeros da esquerda e deixe os bits mais significativos à direita</td>
    <td>x >> y </td>
  </tr>
  
</table>

In [ ]:
x = 2
print(x<<3)

16

In [ ]:
x = 3
print(x<<2)

12

In [ ]:
x = 3
print(x>>2)

0

# Tipos básicos de variáveis

Existem quatro tipos de dados de coleção de dados na linguagem  Python:<br>

```List``` é uma coleção ordenada e modificável. Permite membros duplicados. <br>
```Tuple``` é uma coleção que é ordenada e imutável. Permite membros duplicados.<br>
```Set``` é uma coleção desordenada e não indexada. Nenhum membro duplicado.<br>
```Dicionário``` é uma coleção que é desordenada, alterável e indexada. Nenhum membro duplicado. <br>

Ao escolher um tipo de coleção, é útil entender as propriedades desse tipo. Escolher o tipo certo para um determinado conjunto de dados pode significar retenção de significado e isso pode significar um aumento na eficiência ou segurança.

Uma lista é uma coleção ordenada e modificável. Em listas do Python são escritas com colchetes.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist[0] # espera-se que se receba uma string completa

'apple'

In [ ]:
thislist[1][1]

'a'

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "pineapple" in thislist:
    print("Yes, 'pineapple' is in the fruits list")

In [ ]:
print('Ordem')
if "pineapple" is 'pineapple':
    print("Escopo do primeiro if")
    if 'orange' is 'orange':
      print('Escopo do segundo if')
      if 'grape' is 'grape':
        print('Escopo do terceiro')
print('Fora do escopo')

Ordem
Escopo do primeiro if
Escopo do segundo if
Escopo do terceiro
Fora do escopo

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
print(thislist)
thislist.pop()
print(thislist)
print(mylist)

['apple', 'banana']
['apple']
['apple', 'banana', 'cherry']

In [ ]:
print(thislist)
thislist.append(10)
print(thislist)
print(thislist[1])

['apple', 10, 10, 10]
['apple', 10, 10, 10, 10]
10

Um dicionário é uma coleção não ordenada, modificável e indexada. Em Python, os dicionários são escritos com chaves e possuem chaves e valores.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
x = thisdict["model"]
print(x)

Mustang

In [ ]:
linha1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
linha2 =	{
  "brand": "VW",
  "model": "Fusca",
  "year": 1989
}

my_dict = [linha1, linha2]
print(my_dict)

[{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}, {'brand': 'VW', 'model': 'Fusca', 'year': 1989}]

In [ ]:
my_dict = {"Mustang":{
  "brand": "Ford",
  "year": 1964
},"Fusca":{
  "brand": "VW",
  "year": 1989
}}
print(my_dict)
my_dict['Corsa'] = {'brand':'Chevrolet','year':2005}
my_dict['Vectra'] = {'brand':'Chevrolet','year':2005}
print(my_dict['Corsa'])

{'Mustang': {'brand': 'Ford', 'year': 1964}, 'Fusca': {'brand': 'VW', 'year': 1989}}
{'brand': 'Chevrolet', 'year': 2005}

In [ ]:
print(my_dict["Mustang"])

{'brand': 'Ford', 'year': 1964}

In [ ]:
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
print(my_dict['Fusca'].get("year"))

1989

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
for x in thisdict:
    print(x)

brand
model
year

In [ ]:
for x in my_dict:
    print(x)

Mustang
Fusca
Corsa
Vectra

In [ ]:
for x in my_dict:
    print(my_dict[x].get('year'))

1964
1989
2005
2005

In [ ]:
# objetivo: filtrar os carros que foram fabricados em 2005
list_de_carros = []
for x in my_dict:
  if my_dict[x].get('year') == 2005:
    list_de_carros.append(x)
print(list_de_carros)

['Corsa', 'Vectra']

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x,thisdict[x])

brand Ford
model Mustang
year 1964

In [ ]:
for x in my_dict:
  print(x, my_dict[x])

Mustang {'brand': 'Ford', 'year': 1964}
Fusca {'brand': 'VW', 'year': 1989}
Corsa {'brand': 'Chevrolet', 'year': 2005}
Vectra {'brand': 'Chevrolet', 'year': 2005}

In [ ]:
for x in thisdict.values():
    print(x)

Ford
Mustang
2018

In [ ]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
print(len(thisdict))

3

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

# Controles de Fluxo

## Controle Condicional (```if```)

Uma capacidade importantíssima de uma linguagem de programação, necessária em praticamente todo programa de computador, é a capacidade de tomar decisões baseadas em certas condições.

A linguagem Python usa algumas palavras-chave para indicar execução condicional de código: ```if```, ```elif``` (else ```if```), ```else```. Basicamente, os condicionais nos permitem selecionar certos blocos de código que serão ou não executados dependendo de certas condições. Em alto nível, um condicional é como a sequência de passos abaixo:


1. A condição é verdadeira?
2. Se sim, execute um trecho de código.
3. Caso contrário, execute outro trecho de código.

Vejamos alguns exemplos.

In [ ]:
condicao = False

if condicao == True:
  print('A condicao é verdadeira')
else:
  print('A condicao é falsa')

A condicao é falsa

Condicionais também podem ser usados em cadeia (um após o outro), como mostrado abaixo:

In [ ]:
condicao_1 = True
condicao_2 = True

if condicao_1 and condicao_2:
  print('A condicao_1 e condicao_2 são verdadeiras')
elif condicao_1:
  print("A condicao_1 é verdadeira.")
elif condicao_2:
  print("A condicao_2 é verdadeira.")
else:
  print("As condições condicao_1 e condicao_2 são falsas.")

A condicao_1 e condicao_2 são verdadeiras

É importante enfatizar isso: em Python, blocos de código são delimitados por sua indentação. E a indentação é parte integrante do programa, sendo essencial para seu correto funcionamento.

In [ ]:
# Má indentação!
if sentenca_1:
  if sentenca_2:
  # A linha abaixo não está indentada corretamente.
  print("Ambas sentenças são verdadeiras.")

IndentationError: ignored

In [ ]:
condicao = True

if condicao:
    print("Impresso se condicao for verdadeiro.")

    print("Ainda dentro do if. Note a indentação.")

## Controle de loop ```for```

Existem vários tipos de laços (loops) em Python. O mais comum deles é o for, que é usado com objetos iteráveis tais como listas e intervalos. Os exemplos abaixo mostram o funcionamento básico do for.

In [ ]:
# Percorrendo uma lista de números.
print("Números em uma lista: ")
for numero in [1, 1, 2, 3, 5, 8, 13]:
  print(numero)

Números em uma lista:
1
1
2
3
5
8
13

Em python, é muito simples percorrer uma lista de strings

In [ ]:
# Percorrendo uma lista de palavras.
print("Palavras em uma lista:")
for palavra in ["Ordem", "e", "Progresso"]:
  print(palavra)

Palavras em uma lista:
Ordem
e
Progresso

Percorrer um intervalo em python

In [ ]:
# Percorrendo um intervalo. Por padrão, intervalos começam em zero.
for i in range(3):
  print(i)

0
1
2

Nos exemplos acima, ao percorrer os elementos de uma sequência, não usamos o índice do elemento (sua posição na sequência). Entretanto, há situações em que esta informação é útil. Python nos permite acessar tanto os índices dos elementos quanto os elementos propriamente ditos se usarmos a função ```enumerate```.

In [ ]:
for indice, elemento in enumerate(range(-3,3)):
  print(indice, elemento)

0 -3
1 -2
2 -1
3 0
4 1
5 2

Um exemplo interessante de uso de laços ```for``` é a busca por um elemento em uma lista:

In [ ]:
elemento = 10
estah_presente = False
lista = [1, 2, 7, 10, 15, 20, 50]
for item in lista:
  if item == elemento:
    estah_presente = True

if estah_presente:
  print("Elemento está na lista!")
else:
  print("Elemento não está na lista!")

Elemento está na lista!

Uma outra forma de pesquisar por um elemento em uma lista em Python é por meio do recurso ```in```:

In [ ]:
elemento = 10
lista = [1, 2, 7, 10, 15]
if elemento in lista:
  print("Está na lista!")
else:
  print("Não está na lista!")

Está na lista!

## Controle de loop ```while```

Além dos laços ```for```, Python conta também com os laços ```while```, que executam enquanto uma dada condição for verdadeira:

In [ ]:
i = 1
while i < 5:
  print(i)
  i = i + 1

1
2
3
4

Um exemplo útil de uso de laços ```while``` é o cálculo do fatorial de um número:

In [ ]:
n = 6
fatorial = 1
while n > 1:
  fatorial *= n 
  n -= 1 
print(fatorial)

720

# Packing e Unpacking

*Unpacking* em Python se refere a uma operação que consiste em atribuir um iterável de valores a uma tupla (ou lista) de variáveis ​​em uma única instrução de atribuição. Como complemento, o termo empacotamento pode ser usado quando coletamos vários valores em uma única variável usando o operador de desempacotamento iterável, *.

Historicamente, os desenvolvedores de Python se referem genericamente a esse tipo de operação como **descompactação de tuplas**. No entanto, como esse recurso do Python se tornou bastante útil e popular, ele foi generalizado para todos os tipos de iteráveis. Hoje em dia, um termo mais moderno e preciso seria descompactação de qualquer tipo de iterável.

In [ ]:
(a, b, c) = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

O código acima é equivalente à

In [ ]:
(a, b, c) = 1, 2, 3
a, b, c = (1, 2, 3)
a, b, c = 1, 2, 3

Use com cuidado, pois...

In [ ]:
#a, b = 1, 2, 3

Podemos fazer o unpacking para strings

In [ ]:
a, b, c = '123'
print(a)
print(b)
print(c)

1
2
3

Podemos fazer para listas

In [ ]:
a, b, c = [1, 2, 3]
print(a)
print(b)
print(c)

1
2
3

Podemos fazer para uma função

In [ ]:
gen = (i ** 2 for i in range(3))
a, b, c = gen
print(a)
print(b)
print(c)

0
1
4

Para as chaves de um dicionário

In [ ]:
my_dict = {'one': 1, 'two':2, 'three': 3}
a, b, c = my_dict
print(a)
print(b)
print(c)

one
two
three

Ou para seus valores

In [ ]:
my_dict = {'one': 1, 'two':2, 'three': 3}
a, b, c = my_dict.values()
print(a)
print(b)
print(c)

1
2
3

Ou para o par chave-valor

In [ ]:
my_dict = {'one': 1, 'two':2, 'three': 3}
a, b, c = my_dict.items()
print(a)
print(b)
print(c)

('one', 1)
('two', 2)
('three', 3)

Finalmente, também podemos usar um conjunto de objetos em operações de descompactação. No entanto, como os conjuntos são coleções não ordenadas, a ordem das atribuições pode ser meio incoerente e pode levar a erros sutis. Confira o exemplo a seguir:

In [ ]:
a, b, c = {'a', 'b', 'c'}
print(a)
print(b)
print(c)

b
a
c

## Packing com Operador *

O operador * é conhecido, neste contexto, como o operador de descompactação de tupla (ou iterável). Ele estende a funcionalidade de descompactação para nos permitir coletar ou empacotar vários valores em uma única variável. No exemplo a seguir, empacotamos uma tupla de valores em uma única variável usando o operador *:

In [ ]:
 *a, = 1, 2
 print(a)

[1, 2]

Para que este código funcione, o lado esquerdo da atribuição deve ser uma tupla (ou uma lista). É por isso que usamos uma vírgula à direita. Essa tupla pode conter quantas variáveis ​​precisarmos. No entanto, só pode conter uma expressão com estrela.

Podemos formar uma expressão "estrelada" usando o operador de descompactação, *, junto com um identificador Python válido, assim como o *a no código acima. As demais variáveis ​​na tupla do lado esquerdo são chamadas de variáveis ​​obrigatórias porque devem ser preenchidas com valores concretos, caso contrário, teremos um erro. Veja como isso funciona na prática.

In [ ]:
a, *b = 1, 2, 3
print(a)
print(b)

1
[2, 3]

In [ ]:
*a, b = 1, 2, 3
print(a)
print(b)

[1, 2]
3

Empacotando um valor em a porque b e c são obrigatórios:

In [ ]:
*a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

[1]
2
3

Não empacotar valores em a (a é padronizado como []) porque b, c e d são obrigatórios:

In [ ]:
*a, b, c, d = 1, 2, 3

Não fornecendo nenhum valor para uma variável obrigatória (e), ocorre um erro:

In [ ]:
#*a, b, c, d, e = 1, 2, 3

In [ ]:
seq = [1, 2, 3, 4]
first, *body, last = seq
print(first)
print(body)
print(last)

1
[2, 3]
4

Packing os valores em uma variável com o operador * pode ser útil quando precisamos coletar os elementos de um gerador em uma única variável sem usar a função list(). Nos exemplos a seguir, usamos o operador * para empacotar os elementos de uma expressão geradora e um objeto range para uma variável individual:

In [ ]:
gen = (2 ** x for x in range(10))
*g, = gen
print(g)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
ran = range(10)
*r, = ran
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Nesses exemplos, o operador * empacota os elementos em gen e foi executado em g e r, respectivamente. Com sua sintaxe, evitamos a necessidade de chamar list() para criar uma lista de valores de um objeto range, uma expressão geradora ou uma função geradora.

Observe que não podemos usar o operador de descompactação, *, para empacotar vários valores em uma variável sem adicionar uma vírgula à variável no lado esquerdo da atribuição. Portanto, o código a seguir não funcionará:

In [ ]:
 #*r = range(10)

## Aplicação em retorno de função

As funções do Python podem retornar vários valores separados por vírgulas. Como podemos definir objetos de tupla sem usar parênteses, esse tipo de operação pode ser interpretado como o retorno de uma tupla de valores. Se codificarmos uma função que retorna vários valores, podemos realizar operações iteráveis ​​de compactação e descompactação com os valores retornados.

Confira o exemplo a seguir em que definimos uma função para calcular o quadrado e o cubo de um determinado número:

In [ ]:
def powers(number):
  return number, number ** 2, number ** 3

result = powers(2)
print(result)

number, square, cube = powers(2)
print(number)
print(square)
print(cube)

*_, cube1 = powers(2)
print(cube1)

(2, 4, 8)
2
4
8
8

Se definirmos uma função que retorna valores separados por vírgula, podemos fazer qualquer operação de compactação ou descompactação nesses valores.

## Juntando iteráveis com o operador *

Outro caso de uso interessante para o operador de descompactação, *, é a capacidade de mesclar vários iteráveis ​​em uma sequência final. Essa funcionalidade funciona para listas, tuplas e conjuntos. Dê uma olhada nos exemplos a seguir:

In [ ]:
my_tuple = (1, 2, 3)
print((0,*my_tuple,4))
my_list = [1, 2, 3]
print([0, *my_list, 4])
my_set = {1, 2, 3}
print({0, *my_set, 4})
print([*my_set, *my_list, *my_tuple, *range(1, 4)])

my_str = "123"
print([*my_set, *my_list, *my_tuple, *range(1, 4), *my_str])

(0, 1, 2, 3, 4)
[0, 1, 2, 3, 4]
{0, 1, 2, 3, 4}
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, '1', '2', '3']

Podemos usar o operador de descompactação iterável, *, ao definir sequências para descompactar os elementos de uma subsequência (ou iterável) na sequência final. Isso nos permitirá criar sequências dinamicamente a partir de outras sequências existentes sem chamar métodos como append(), insert() e assim por diante.

Os dois últimos exemplos mostram que essa também é uma maneira mais legível e eficiente de concatenar iteráveis. Em vez de escrever 
```python
list(my_set) + my_list + list(my_tuple) + list(range(1, 4)) + list(my_str) 

```
nós apenas escrevemos 
```python
[*my_set, *my_list, *my_tuple, *range(1, 4), *my_str]
```

## Unpacking de dicionários com o operador **

No contexto de descompactação em Python, o operador ** é chamado de operador de descompactação de dicionário. O uso deste operador foi estendido pelo PEP 448 (https://www.python.org/dev/peps/pep-0448/). Agora, podemos utilizá-lo em chamadas de funções, em compreensões e expressões geradoras, e em displays.

Um caso de uso básico para o operador de descompactação de dicionário é mesclar vários dicionários em um dicionário final com uma única expressão. Vamos ver como isso funciona:

In [ ]:
numbers = {"one": 1, "two": 2, "three": 3}
letters = {"a": "A", "b": "B", "c": "C"}
combination = {**numbers, **letters}
print(combination)

{'one': 1, 'two': 2, 'three': 3, 'a': 'A', 'b': 'B', 'c': 'C'}

Se usarmos o operador de descompactação de dicionário dentro de uma exibição de dicionário, podemos descompactar os dicionários e combiná-los para criar um dicionário final que inclui os pares chave-valor dos dicionários originais, assim como fizemos no código acima.

Um ponto importante a ser observado é que, se os dicionários que estamos tentando mesclar tiverem chaves repetidas ou comuns, os valores do dicionário mais à direita substituirão os valores do dicionário mais à esquerda. Aqui está um exemplo:

In [ ]:
letters = {"a": "A", "b": "B", "c": "C"}
vowels = {"a": "a", "e": "e", "i": "i", "o": "o", "u": "u"}
print({**letters, **vowels})

{'a': 'a', 'b': 'B', 'c': 'C', 'e': 'e', 'i': 'i', 'o': 'o', 'u': 'u'}

Como a chave ```a``` está presente em ambos os dicionários, o valor que prevalece vem das vogais, que é o dicionário mais à direita. Isso acontece porque o Python começa a adicionar os pares chave-valor da esquerda para a direita. Se, no processo, o Python encontrar chaves que já existem, o interpretador atualizará essas chaves com o novo valor. É por isso que o valor da chave a está em minúsculas no exemplo acima.

# Funções

Até aqui vimos como criar programas simples em Python. Em todos esses programas, salvamos os resultados das computações em variáveis ou então imprimimos os resultados desejados. Entretanto, existem situações nas quais uma dada porção do nosso programa será utilizada múltiplas vezes, em diferentes partes do programa, ou até mesmo por outros programas.<br>

Imagine, por exemplo, que desejemos criar um programa para exibir a lista dos funcionários de uma empresa, ordenada por ordem alfabética, depois por idade, depois por salário. Nesse caso, temos uma tarefa (ordenar uma lista) que será executada várias vezes (primeiro para ordenar os funcionários por nome, depois por idade, e depois por salário). Em casos como esse, é conveniente que se tenha um procedimento que ordena uma lista de acordo com algum critério. Assim, esse procedimento pode ser aplicado várias vezes sem que tenhamos que repetir o mesmo código em várias partes do programa. Em outras palavras, precisamos de um procedimento que seja reusável em várias partes de nosso programa.<br>

Uma das principais formas de se criar componentes reusáveis em Python (e em outras linguagens de programação também) são as chamadas funções. Uma função é basicamente um trecho de código (um procedimento, um algoritmo) que pode ser usado várias vezes.<br>

Apesar de só estarmos falando sobre funções agora, nós já usamos funções várias vezes nas seções anteriores. Por exemplo, quando fazemos x = abs(y) estamos usando a função abs() da biblioteca padrão Python para calcular o valor absoluto de y e armazená-lo em x. Agora aprenderemos a criar e usar nossas próprias funções em Python.

Vamos criar uma função sem argumentos para iniciar a nossa explicação de funções

In [ ]:
def my_function():
    print("Hello from a function")

In [ ]:
my_function()

Hello from a function

Para criar uma função com parametros, basta que façamos o codigo abaixo:

```python
def nomedafuncao(parametro1, parametro2, ...):
    corpodafuncao
```

In [ ]:
def add(a,b):
  return a+b
print('Function add(10,20): ',add(10,20))

Function add(10,20):  30

Uma função lambda é uma pequena função não definida.

Uma função lambda pode receber qualquer número de argumentos, mas só pode ter uma expressão.


```lambda arguments : expression```

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2021-09-08 20:37:13.197094

## Funções MAP

In [ ]:
lista = [1000, 1500, 2200, 2500]
def aplicar_formula(valor):
  return 1.1*valor

In [ ]:
lista_com_formula = []
for ivalor in lista:
  lista_com_formula.append(aplicar_formula(ivalor))
print(lista_com_formula)

[1100.0, 1650.0000000000002, 2420.0, 2750.0]

In [ ]:
lista_com_formula2 = list(map(aplicar_formula,lista))
print(lista_com_formula2)

[1100.0, 1650.0000000000002, 2420.0, 2750.0]

## Definindo funções com os operadores * e **

Podemos usar os operadores ```*``` e ```**``` na assinatura de funções Python. Isso nos permitirá chamar a função com um número variável de argumentos posicionais (*) ou com um número variável de argumentos de palavras-chave, ou ambos. Vamos considerar a seguinte função:

In [ ]:
def func(required, *args, **kwargs):
   print(required)
   print(args)
   print(kwargs)
func("Welcome to...", 1, 2, 3, site='google.com')

Welcome to...
(1, 2, 3)
{'site': 'StackAbuse.com'}

A função acima requer pelo menos um argumento chamado required. Ele também pode aceitar um número variável de argumentos posicionais e de palavras-chave. Nesse caso, o operador * coleta ou empacota argumentos posicionais extras em uma tupla chamada args e o operador ** coleta ou empacota argumentos extras de palavras-chave em um dicionário chamado kwargs. Ambos, args e kwargs, são opcionais e padrão automaticamente para () e {}, respectivamente.

Embora os nomes args e kwargs sejam amplamente usados ​​pela comunidade Python, eles não são um requisito para que essas técnicas funcionem. A sintaxe requer apenas * ou ** seguido por um identificador válido. Portanto, se você puder dar nomes significativos a esses argumentos, faça-o. Isso certamente melhorará a legibilidade do seu código.

## Chamada de funções com os operadores * e **

Ao chamar funções, também podemos nos beneficiar do uso do operador * e ** para descompactar coleções de argumentos em argumentos posicionais ou de palavras-chave separados, respectivamente. Este é o inverso de usar * e ** na assinatura de uma função. Na assinatura, os operadores significam coletar ou empacotar um número variável de argumentos em um identificador. Na chamada, eles significam descompactar um iterável em vários argumentos.

Aqui está um exemplo básico de como isso funciona:

In [ ]:
def func(welcome, to, site):
  print(welcome, to, site)

func(*["Welcome", "to"], **{"site": 'google.com'})

Welcome to google.com

Aqui, o operador * descompacta sequências como ["Welcome", "to"] em argumentos posicionais. Da mesma forma, o operador ** descompacta os dicionários em argumentos cujos nomes correspondem às chaves do dicionário descompactado.

Também podemos combinar essa técnica e a abordada na seção anterior para escrever funções bastante flexíveis. Aqui está um exemplo:

In [ ]:
def func(required, *args, **kwargs):
  print(required)
  print(args)
  print(kwargs)
func("Welcome to...", *(1, 2, 3), **{"site": 'google.com'})

Welcome to...
(1, 2, 3)
{'site': 'google.com'}

O uso dos operadores * e **, ao definir e chamar funções Python, dará a eles recursos extras e os tornará mais flexíveis e poderosos.